[Desktop Entry]
Type=Application
Exec=vivaldi
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Vivaldi
Name=Vivaldi
Comment[en_US]=
Comment=
